.container {
    max-width: 937px;
    margin: 0 auto;
    padding:0 15px;
}
@media screen and (min-width:879px) {

    .description {
        margin-bottom: 88px;
         &__title {
         font-size: 40px;
         line-height: 60px;
         color: $button-title-second-color;
         margin: 0 0 25px;
         }
         &__conteiner{
             display: flex;
             align-items: center;
             justify-content: space-between;
         }
         &__text {
             font-weight: 500;
             font-size: 18px;
             line-height: 27px;
             color: $primary-text-color;
             padding-right: 20px;
         }
    }
 }
 
 
 @media screen and (max-width: 878px) {

    .description{
        margin-bottom: 32px;
         &__conteiner{ 
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
         }
         &__text{
             font-size: 17px;
             line-height: 27px;
             color: $primary-text-color;
         }
         &__title{
             font-size: 37px;
             line-height: 60px;
             color: $button-title-second-color;
             margin: 0 0 25px;
         }
    }
 }
.switch input {
    display:none;
    &:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
       
     }
    &:checked + .slider:before {
        transform: translateX(110px);
        
     }
}
.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #FFFFFF;
   -webkit-transition: .4s;
   transition: .4s;
    &:before {
        position: absolute;
        content: "";
        width: 110px;
        height: 44px;
    
        background-color: $button-first-color;
        -webkit-transition: .4s;
        transition: .4s;
    }
 &.round {
    position: absolute;
    border-radius: 22px;
    &:before {
        box-shadow: 0px 6px 12px rgba(82, 67, 194, 0.16);
        border-radius: 22px;
    } 
 }

}
 
.yearly{
   position: absolute;
   left: 140px;
   top: 12px;
   font-size: 12px;
   line-height: 18px;

   text-align: center;
   letter-spacing: 0.833333px;
}
.monthly{
   position: absolute;
   right: 133px;
   top: 12px;
   font-size: 12px;
   line-height: 18px;

   text-align: center;
   letter-spacing: 0.833333px;
}
   
.checkbox-group {
   position: relative;
   width: 220px;
   height: 44px;
   background-color: #FFFFFF;
   border-radius: 50px;
   &-label {
    display: block;
    width: 110px;
    height: 44px;
    border-radius: 20px;
    background-color: $button-first-color;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition: all 0.4s ease;
    cursor: pointer;
    &:after {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #FFFFFF;
        position: absolute;
        top: 6px;
        left: 6px;
     }
 }
}

.is-active{
   color: #FFFFFF;
}


